.App{
    background:#222222;
}
.HeaderLogo{
    width: 100%;
    text-align: center;
    line-height: 30px;
    display: flex;
    justify-content: center;
    color: #e1b62f;
    padding-top: 5px;
}
.HeaderLogo .div{
    flex: 1;
}
.HeaderLogo .iconuser{
    width: 19px;
    margin-right: 10px;
}
